<!-- first section - Hero -->
<div id="hero" class="hero">
  <div class="text-vcenter">
    <h1>$(iAm).ready();</h1><br>
    <%= link_to 'Blog', blogs_path, :class => 'btn btn-primary' %>
    <button href="#" class="btn btn-primary">Builder</button>
    <button href="#" class="btn btn-primary">Resources</button>
  </div>
</div>
<!-- /first section -->

<!-- second section - Blog -->
<div id="blog" class="pad-section">
  <h1>Thoughts on Learning to Code</h1>
  <div class="container">
    <% @blogs.last(3).each do |blog| %>
      <div class="blog-box col-sm-3">
        <h2><%= link_to blog.title, blog_path(blog) %></h2>
        <img id="blog-img" src="assets/bloglyph.png" />
      </div>
    <% end %>  
  </div>
</div>
<!-- /second section -->

<!-- third section - Builder -->
<div id="builder" class="pad-section">
  <div class="container">
    <img src="#" alt="Skill Pyramid" />
  </div>
</div>
<!-- /third section -->

<!-- fourth section - Resources -->
<div id="resources" class="pad-section">
  <div class="container">
    <h2 class="text-center">Resources</h2><hr />
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-cloud"></i>
        <h4>Resource 1</h4>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-leaf"></i>
        <h4>Resource 2</h4>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-phone-alt"></i>
        <h4>Resource 3</h4>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-bullhorn"></i>
        <h4>Resource 4</h4>
      </div>
    </div>
  </div>
</div>
<!-- /fourth section -->

<!-- fifth section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>About this Application</h3>
        <h4>Text here </h4>
      </div>
    </div>
  </div>
</div>
<!-- /fifth section -->

<!-- footer -->
<footer>
  <hr />
  <div class="container">
    <p class="text-right">Copyright &copy; 2016 Erin Madison Anthony</p>
  </div>
</footer>
<!-- footer -->