<!-- first section - Hero -->
<div id="hero" class="hero">
  <div id="login">
    <% if user_signed_in? %>
      <h3><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></h3>
    <% else %>
      <h3><%= link_to 'Sign in', new_user_session_path %></h3>
      <h3><%= link_to 'Sign up', new_user_registration_path %></h3>
    <% end %>
  </div> 
  <div class="text-vcenter">
    <h1>$(iAm).ready();</h1><br>
    <button href="#" class="btn btn-primary">Blog</button>
    <button href="#" class="btn btn-primary">Builder</button>
    <button href="#" class="btn btn-primary">Resources</button>
  </div>
</div>
<!-- /first section -->

<!-- second section - Blog -->
<div id="blog" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="#" alt="Story 1" />
      </div>
      <div class="col-sm-4">
        <img src="#" alt="Story 2" />
      </div>
      <div class="col-sm-4">
        <img src="#" alt="Story 3" />
      </div>
    </div>
  </div>
</div>
<!-- /second section -->

<!-- third section - Builder -->
<div id="builder" class="pad-section">
  <div class="container">
    <img src="#" alt="Skill Pyramid" />
  </div>
</div>
<!-- /third section -->

<!-- fourth section - Resources -->
<div id="resources" class="pad-section">
  <div class="container">
    <h2 class="text-center">Resources</h2><hr />
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-cloud"></i>
        <h4>Resource 1</h4>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-leaf"></i>
        <h4>Resource 2</h4>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-phone-alt"></i>
        <h4>Resource 3</h4>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-bullhorn"></i>
        <h4>Resource 4</h4>
      </div>
    </div>
  </div>
</div>
<!-- /fourth section -->

<!-- fifth section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>About this Application</h3>
        <h4>Text here </h4>
      </div>
    </div>
  </div>
</div>
<!-- /fifth section -->

<!-- footer -->
<footer>
  <hr />
  <div class="container">
    <p class="text-right">Copyright &copy; 2016 Erin Madison Anthony</p>
  </div>
</footer>
<!-- footer -->