// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

h1, h2 {
  text-align: center;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}

.pad-section img {
  width: 100%;
}

/* links */
a:link {
  color: #9e8ede;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-size: 5.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.header {
  font-size: 4.5em;
  font-weight: 700;
}

/* additional sections */
#hero {
  background: url('/assets/hero.jpg') no-repeat center center fixed; 
  color: #ffffff;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#blog {
  background-color: #008080;
  color: #000000;
}

.blog-box {
  background: #008080;
  border: 12px solid #000000;
  border-radius: 24px;
  display: block;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

#blog-img {
  width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
}

#builder {
  background: url('/assets/builder.jpg') no-repeat center center fixed;
  color: #ffffff;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#resources {
  background-color: #008080;
  color: #000000;
}

.resource-img {
  display: block;
  margin-top: 25px;
  padding: 20px;
}

#about {
  background: url('/assets/about.jpg') no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about .panel {
  opacity: 0.85;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}